input[type="checkbox"]{
    padding: 0;
    width: 20%;
}
input.ng-invalid.ng-touched {
    border: 1px solid #ffd565;
}

small {
    color: #ffd565;
}

select.ng-invalid.ng-touched {
    border: 1px solid #ffd565;
}