<app-header></app-header>
<app-sidebar></app-sidebar>
<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <div class="card">
            <div class="card-body p-4">
                <h5 class="card-title">Expense Report</h5>
                <hr />
                <div class="form-body mt-4">
                    <div class="row">

                        <div class="col-lg-12 mt-3">
                            <div class="border border-3 p-4 rounded">
                                <div class="table-responsive">
                                    <table *ngIf="table_data?.length" datatable [dtOptions]="dtOptions"
                                        class="table mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th>S.No</th>
                                                <th>From Date</th>
                                                <th>To Date</th>
                                                <th>Lorry Details</th>
                                                <th>Drivers</th>
                                                <th>Start</th>
                                                <th>End</th>
                                                <th>Total</th>
                                                <th>Diesel(Lit)</th>
                                                <th>Mileage</th>
                                                <th>Departure</th>
                                                <th>Via</th>
                                                <th>Destination</th>
                                                <th>Load</th>
                                                <th>Weight</th>
                                                <th>Freight</th>
                                                <th>Diesel/Crossing Amount</th>
                                                <th>Loading</th>
                                                <th>UnLoading</th>
                                                <th>Misc</th>
                                                <th>RTO</th>
                                                <th>PC</th>
                                                <th>BILL</th>
                                                <th>Driver Wages</th>
                                                <th>Office Commission</th>
                                                <th>Total Exp</th>
                                                <th>Advance</th>
                                                <th>Balance</th>
                                                <th>Diesel Amt</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let prod of table_data;let i=index">
                                                <td>{{i+1}}</td>
                                                <td>{{prod.from_date}}</td>
                                                <td>{{prod.to_date}}</td>
                                                <td>{{prod.number}} | {{prod.wheels}}</td>
                                                <td>{{prod.driver1}} | {{prod.driver2}}</td>
                                                <td>{{prod.start_km}}</td>
                                                <td>{{prod.end_km}}</td>
                                                <td>{{prod.run_km}}</td>
                                                <td>{{prod.diesel}}</td>
                                                <td>{{prod.mileage}}</td>
                                                <td>{{prod.departure}}</td>
                                                <td [innerHTML]="transform(prod.via)"></td>
                                                <td>{{prod.destination}}</td>
                                                <td [innerHTML]="transform(prod.load_details)"></td>
                                                <td [innerHTML]="transform(prod.weight_details)"></td>
                                                <td>{{prod.freight_charges}}</td>
                                                <td>{{prod.diesel_amount}}</td>
                                                <td>{{prod.loading_charges}}</td>
                                                <td>{{prod.unloading_charges}}</td>
                                                <td>{{prod.misc_charges}}</td>
                                                <td>{{prod.rto_charge}}</td>
                                                <td>{{prod.pc_charge}}</td>
                                                <td>{{prod.bill}}</td>
                                                <td>{{prod.driver_wages}}</td>
                                                <td>{{prod.office_commission}}</td>
                                                <td>{{prod.total_exp}}</td>
                                                <td>{{prod.adv_amount}}</td>
                                                <td>{{prod.balance}}</td>
                                                <td>{{prod.diesel_total_amount}}</td>
                                                <td><a href="/add-expense/{{prod.id}}">Edit</a>
                                                    &nbsp;<a style="cursor: pointer;"
                                                        (click)="remove(prod.id)">Remove</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center mt-3">
                                        <h4 *ngIf="!table_data?.length">No Result Found</h4>
                                    </div>
                                    <!-- <div class="mt-3">
                                        <p class="fw-bold" *ngIf="table_data?.length">Total Adv Amount:
                                            {{getTotal('adv_amount')}}</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div><!--end row-->
                </div>
            </div>
        </div>

    </div>
</div>
<!--end page wrapper -->
<app-footer></app-footer>